# Core dependencies
requests==2.31.0
cloudscraper==1.2.71
PySocks==1.7.1

# Web server (nếu cần)
flask==3.0.0
gunicorn==21.2.0
scapy
# Utility
psutil==5.9.6  # Monitor system resources
colorama==0.4.6  # Colored terminal output
